@using InventaryApp.Utilities.Models;
@model List<Role>


@{
    ViewBag.Title = language.GetKey("Role");
    var indexRoleRow = 0;
}

@inject LanguageService language
<div class="p-3">
    <div class="bg-gradient-gray-dark rounded shadow p-3 text-capitalize text-center mb-3">
        @language.GetKey("Role")
    </div>

    <div class="rounded shadow p-3 bg-white">
        <div class="text-right mb-3">
            <a class="btn btn-dark pl-4 pr-4" data-toggle="modal" data-target="#Role" data-action="insert">
                <i class="fas fa-plus" title="@language.GetKey("AddRecord")" data-placement="top" data-toggle="tooltip"></i>
            </a>
        </div>
        <table id="RoleData" class="table table-bordered table-hover" data-item="Table">
            <thead class="text-center dark-mode">
                <tr>
                    <th scope="row">#</th>
                    <th scope="row" hidden>Guid</th>
                    <th scope="row">@language.GetKey("Role")</th>
                    <th scope="row">@language.GetKey("Description")</th>
                    <th scope="row">@language.GetKey("Options")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var roleRow in Model)
                {
                    indexRoleRow = indexRoleRow == 0 ? 1 : indexRoleRow + 1;
                    <tr>
                        <td scope="row">@indexRoleRow</td>
                        <td scope="row" hidden>@roleRow.role_guid</td>
                        <td name="@roleRow.role_guid" id="name_@roleRow.role_guid">@roleRow.name</td>
                        <td name="@roleRow.role_guid" id="description_@roleRow.role_guid">@roleRow.description</td>
                        <td class="text-center">
                            <a href="#" class="mr-2" data-toggle="modal" data-target="#Role" data-action="update" data-guid="@roleRow.role_guid">
                                <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="@language.GetKey("EditRecord")"></i>
                            </a>
                            <a href="#" onclick="DeleteRecord(`@roleRow.role_guid`)">
                                <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="@language.GetKey("DeleteRecord")"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @*Modal Role*@
    <div class="modal fade" id="Role" data-backdrop="static" tabindex="-1" aria-labelledby="ModalLabelTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header dark-mode">
                    <h5 class="modal-title text-center" id="ModalLabelTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="RoleModalData" onsubmit="return false;">
                        <div class="form-group" hidden>
                            <label for="role-guid">GUID</label>
                            <input type="text" class="form-control" id="role-guid" name="role_guid">
                        </div>
                        <div class="form-group">
                            <label for="role-name">@language.GetKey("Role")</label>
                            <span data-toggle="tooltip" data-placement="right" title="Nombre del nuevo Rol *Requerido">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <input type="text" class="form-control" id="role-name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="role-description">@language.GetKey("Description")</label>
                            <span data-toggle="tooltip" data-placement="right" title="Descripción y funciones del nuevo rol *Opcional">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <textarea class="form-control" id="role-description" name="description"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                <i class="fas fa-times mr-2"></i>
                                @language.GetKey("Close")
                            </button>
                            <button type="submit" onclick="SendRole(RoleModalData)" class="btn btn-dark">
                                <i class="fas fa-save mr-2"></i>
                                @language.GetKey("Save")
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsAfter{
    <script type="text/javascript">
        var actionExecution;

        $(function () {
            $("#RoleModalData").validate({
                rules: {
                    name: {
                        required: true,
                    }
                },
                messages: {
                    name: {
                        required: "Debe ingresar un nombre de Rol",
                    }
                },
                highlight: function (element) {
                    $(element).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    $(element).removeClass('is-invalid').addClass('is-valid');
                },
            });
        });

        $('#Role').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); //Botón desde donde fue presionado
            var action = button.data('action');
            actionExecution = action;
            var modal = $(this);
            $(".error").hide();

            let message;
            switch (action) {
                case "update":
                    message = 'Editar Registro';
                    let dataGuid = button.data('guid');
                    modal.find("#role-guid").val(dataGuid);
                    modal.find("#role-name").val($("#name_" + dataGuid).text()).removeClass("is-valid is-invalid");
                    modal.find("#role-description").val($("#description_" + dataGuid).text()).removeClass("is-valid is-invalid");
                    break;
                default:
                    //default action by insert
                    message = 'Añadir Nuevo Registro';
                    modal.find("#role-guid").val("");
                    modal.find("#role-name").val("").removeClass("is-valid is-invalid");
                    modal.find("#role-description").val("").removeClass("is-valid is-invalid");
                    break;
            }
            modal.find('.modal-title').text(message)
        })

        function SendRole(dataIn) {
            var data = $(dataIn);
            var Role = {};

            if ($(data).valid()) {
                switch (actionExecution) {
                    case "update":
                        Role.role_guid = data.children().find("[id=role-guid]").val();
                        Role.name = data.children().find("[id=role-name]").val();
                        Role.description = data.children().find("[id=role-description]").val()
                        $.ajax({
                            url: `@Url.Action("Put","Role")?Role=${JSON.stringify(Role)}`,
                            type: 'POST',
                            async: false
                        }).done(function (response) {
                            $(".modal").modal("hide");
                            swalCustom.fire({
                                title: "Registro Actualizado",
                                text: `Se ha actualizado el registro ${Role.name} correctamente.`,
                                icon: "success",
                                confirmButtonText: 'Ok',
                            }).then((result) => {
                                window.location.reload();
                            });
                        }).fail(function (response) {
                            swalCustom.fire({
                                title: "Actualización Fallida",
                                text: `Se ha presentado un error en el registro ${Role.name}.`,
                                icon: "error"
                            });
                        });
                        break;
                    default:
                        Role.name = data.children().find("[id=role-name]").val();
                        Role.description = data.children().find("[id=role-description]").val()
                        $.ajax({
                            url: `@Url.Action("Post","Role")?Role=${JSON.stringify(Role)}`,
                            type: 'POST',
                            async: false
                        }).done(function (response) {
                            $(".modal").modal("hide");
                            swalCustom.fire({
                                title: "Registro Exitoso",
                                text: "Se ha registrado correctamente el rol " + Role.name,
                                icon: "success",
                                confirmButtonText: 'OK',
                            }).then((result) => {
                                window.location.reload();
                            });
                        }).fail(function (response) {
                            swalCustom.fire({
                                title: "Registro Fallido",
                                text: "Se ha presentado un error registrando el rol " + Role.name,
                                icon: "error"
                            });
                        });
                        break;
                }
            }
        }

        function DeleteRecord(record_guid) {
            swalCustom.fire({
                title: '¿Eliminar Registro?',
                text: "Este cambio no se puede revertir",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `@Url.Action("Delete","Role")?Role_Guid=${record_guid}`,
                            type: 'POST',
                            async: false
                    }).done(function (response) {
                        swalCustom.fire({
                            text: 'Registro Eliminado Correctamente.',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            window.location.reload();
                        });
                    }).fail(function () {
                        swalCustom.fire({
                            text: 'Registro No pudo ser eliminado.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
                    
                }
            })
        }
    </script>
}